---
import NavbarSection from "./navbar-section.astro";
import NavbarTab from "./navbar-tab.astro";
import NavbarButton from "./navbar-button";
import NavBarThemeSwitch from "./navbar-theme-switch";
import ToggleIcon from "../toggle-icon";
import { FaChartLine } from "react-icons/fa6";
import "./navbar.css";
---

<div
  class="navbar p-4 shadow-sm flex justify-between items-center"
>
  <NavbarSection>
    <NavbarTab className="flex items-center">
      <NavbarButton client:idle className="ms-1 me-8">
        <ToggleIcon client:idle />
      </NavbarButton>
      <FaChartLine className="me-1" /> 
      <p class="ms-1">MyDashboard</p>
    </NavbarTab>
  </NavbarSection>

  <NavbarSection>
    <NavbarTab className="justify-between items-center hidden sm:flex">
      <NavBarThemeSwitch client:only />
      <a href="#myaccount" class="mx-3">Mon compte</a>
    </NavbarTab>
  </NavbarSection>
</div>
