---
const { className, onClick } = Astro.props;
import { cn } from "../../utils";
---

<button
  class={cn("border border-slate-600 rounded-md p-2", className)}
  onclick={onClick}
>
  <slot />
</button>
