@tailwind base;
html, body {
  height: 100%;
  transition: all;
  transition-duration: 0.125s;
}

body{
  background-color: theme('colors.panel.200');
}

.dark body {
  background-color: theme('colors.panel.900');
}

