.dark .ps-submenu, .ps-menu-icon{
    font-weight: 500;
    color:  theme('colors.panel.50');
}

.dark .ps-menu-label:not(.ps-open){
    font-weight: 400;
    color:  theme('colors.panel.50');
}

.dark .ps-menu-button:hover{
    background-color:  theme('colors.primary.950') !important;
    transition: all 250ms;
}

.ps-sidebar-container, .ps-menu-button{
    background-color: theme('colors.panel.900');
}