---
import Navbar from "../components/nav/navbar.astro";
import Sidebar from "../components/sidebar/sidebar.astro";
import "../css/index.css";

let theme = "";
if (Astro.cookies.has('dark-theme-state')){
  theme = Astro.cookies.get('dark-theme-state').value === "true" ? "dark": "";
}

---
<!doctype html>
<html lang="fr" class={theme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
  <main class="h-full">
    <Navbar />
    <div class="flex  h-full">
      <Sidebar />
      <slot />
    </div>
  </main>
</body>
</html>